
body{
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
background-color: #1F252E;
height: 100vh;
color: #ffffff;
}

div {
  padding: 5px ;
}



a:hover {
  color: #EAF6F6;
}


p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.Best{
  border-radius: 100px;}

a {
  color: #11999E;

}

.middle-container{
    margin: 100px 0;}
  
  .bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
  }
  
  .intro{
    width: 40%;
    margin: auto;
  }
  
  .top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
  }
  
  .bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;}
  
  .skills {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;}
  
  .contact-message {
    width: 30%;
    margin: 40px auto 60px;
  }
  
  .Best {
    width: 15%;
    border-radius: 15%;}
  
  .Computer {
    width: 25%;
    border-radius: 15%;
    float: left;
    margin-right: 25px;}

    .University {
      width: 25%;
      float: left;
      margin-right: 25px;}

  .college {
    width: 35%;
    float: right;
    margin-left: 35px;}
  
