
body{
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  background-color: #1F252E;
  height: 100vh;
  color: #ffffff;
}


p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.Best{
  border-radius: 1000px;}

a {
  color: #11999E;

}
  
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;}

.middle-container{
  margin: 100px 0;}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.intro{
  width: 40%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}


	.intro {
		font-size: 20px;
		font-weight: normal;
	}


.skills {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;}


.Best {
  width: 30%;
  border-radius: 10%;}


@media(max-width: 991px){
	.Best {
     width: 40%;
	 margin-bottom: 12px;
	}
	.intro {
		width: 60%;
	}
	.skills {
    width: 60%;
    margin: 40px auto 100px auto;	
	}
	.my-plr{
		padding: 0 8px;
	}
}
  @media(max-width: 767px){
	.Best {
		width: 55%;
	}
    .skills {
        width: 80%;
	}
	.intro {
        width: 80%;
    }
  }
  @media(max-width: 576px){
	  .Best {
        width: 65%;
    }
	.University {
		width: 29%;
	}
	.middle-container {
		margin: 70px 0;
	}
	.intro, .lang-desc, .extra-skill-desc, .my-design-desc{
		font-size: 18px;
	}
	.extra-skill-desc{
			font-weight: 500;
	}
	.extra-skill-desc a{
		font-weight: 400 !important;
		font-size: 16px;
	}
    .my-skill{
		font-size: 24px;
		margin-top: 18px;
	}
	.my-design, .my-extra-skill, .my-lang, .tech-skill{
		font-size: 22px;
	}
	.mySlides img{
		width: 80% !important;
	}
  }
